[submodule "Demos/COM.ABLECLOUD.SPP/ZC"]
	path = Demos/COM.ABLECLOUD.SPP/ZC
	url = git@github.com:sdhczw/ZC.git
[submodule "Demos/COM.ABLECLOUD.SPP/AC"]
	path = Demos/COM.ABLECLOUD.SPP/AC
	url = git@github.com:sdhczw/AC.git
