[submodule "Demos/COM.ABLECLOUD.SPP/ZC"]
	path = Demos/COM.ABLECLOUD.SPP/ZC
	url = git@git.ablecloud.cn:c/zc.git
[submodule "Demos/COM.ABLECLOUD.SPP/AC"]
	path = Demos/COM.ABLECLOUD.SPP/AC
	url = git@git.ablecloud.cn:c/ac.git
